.wrapper {
  text-align: center;
  padding: 70px 20px;
  width: 100%;
  height: 80vh;
}

.main {
  background-color: #ffe4b5;
  color: #877254;
  max-width: 90%; /* ページが縮小したときに幅が100%に収まるようにする */
  margin: 0 auto;
  padding: 60px;
}

.day {
  font-size: 50px;
  padding-bottom: 20px;
  
}

.clock {
  font-size: 100px;
}

.works_btn {
  font-size: 50px;
  margin-top: 40px;
}

#get-location {
  color: #877254;
  border: 1px solid #877254;
  border-radius: 10px;
}