.page-header {
  width: 100%;
  height: 10vh;
  background-color: #ffe4b5;
}

.main-header {
  height: 100%;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eworks-icon {
  font-size: 30px;
  color: black;
  text-decoration: none;
}

ul.list {
  font-size: 20px;
  list-style-type: none;
}

.user-nickname {
  color: black;
  text-decoration: none;
}

.repors_index {
  color: black;
  text-decoration: none;
}

.logout {
  color: black;
  text-decoration: none;
}

.login {
  color: black;
  text-decoration: none;
}

.sign-up {
  color: black;
  text-decoration: none;
}
