<%# CSS・・・assets/stylesheets/shared/footer.css %>
<footer class='page-footer'>
  <div class='main-footer'>
    <div class='footer-title'>
      <%= link_to 'Eworks', "/", class: "eworks-icon" %>
      <p> @ Eworks </p>
    </div>
  </div>
</footer> 