<%# CSS・・・assets/stylesheets/shared/header.css %>
<div class='page-header'>
  <div class='main-header'>
    <div class='header-title'>
      <%= link_to 'Eworks', "/", class: "eworks-icon" %>
    </div>
    <ul class='list'>
      <ログイン機能>
    </ul>
    </div>
  </div>
</div>